body{
    background-color: rgb(243, 235, 225);
     margin: 0 auto 0 auto;
}


.cabecario{
margin-top: top 50px;
background-color: rgb(40, 40, 92);
color: aliceblue;
text-align: center;
width: 100%;
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
height: 100px;
padding-top: 10px;


}
.cabecario2{
    text-align: center;
    font-size: 20px;
    padding: 40px;
}
#logo-acamp{
    padding: 10px;
    text-align: center;
}
#etiqueta-acamp{
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans';
font-weight: 100px;

    color: aliceblue;
    background-color: rgb(207, 202, 163);
    border-radius: 10px;
margin-right: 200px;
margin-left: 200px;
}

#botoes{
    background-color: blue;
    color: aliceblue;
    padding: 20px;
    text-align: center;
   margin: 50px;border-radius: 10px;
   font-size: larger;

}

#cod-entrada{
background-color: rgb(40, 40, 92);
padding: 90px;
color: aliceblue;
}

#tabela-cod{
background-color: aliceblue;
padding-block-end: 50px;
color: black;
border-radius: 20px;
}

.table1{
   font-size: 56px;
    width: 100%;
    right: auto;
}

#tabela-forms{
container-type: center;
background-color: azure;
padding-block-end: 50px;
font-size: 25px;
width: 80%; /* Ou qualquer outra largura */
margin-top: 30px ;
margin-left: 150px;
border-radius: 20px;
right: 50px;
margin-bottom: 30px;
}

.td1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* pag3 confirmação de envio de forms */

        /* Estilos específicos para a página de sucesso */
        #sucesso-container {
            text-align: center;
            padding: 50px;
            margin: 50px auto;
            width: 80%;
            background-color: #e6ffe6; /* Cor de fundo suave para sucesso */
            border: 2px solid #4CAF50; /* Borda verde */
            border-radius: 10px;
        }
        #sucesso-container h2 {
            color: #4CAF50;
            font-family: Arial, sans-serif;
            font-size: 30px;
        }
        /* Símbolo de checklist simples (usando uma entidade HTML grande) */
        #checklist-simbolo {
            font-size: 80px;
            color: #4CAF50;
            line-height: 1;
        }
